
.breadcrumb-container {
    background-color: #dcdcdc; /* Couleur de fond gris pour la barre de navigation */
    padding: 10px; /* Marge intérieure pour un meilleur espacement */
}

.breadcrumb {
    background-color: transparent; /* Fond transparent pour les éléments de la barre de navigation */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le rembourrage par défaut */
}

.breadcrumb-item a {
    color: #333; /* Couleur du lien dans la barre de navigation */
}

.breadcrumb-item.active {
    color: #777; /* Couleur du texte actif dans la barre de navigation */
}

.styled-element {
    background-color: #4CAF50; /* Fond vert */
    color: #fff; /* Texte blanc */
    padding: 10px; /* Marge intérieure pour un meilleur espacement */
    display: flex; /* Utiliser Flexbox */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
}


.nav-text::before {
    content: "\2022 \2022 \2022"; /* Trois petits points (bullet points) gris */
    color: #888; /* Couleur grise pour les points */
    text-align: left; /* Aligner le texte au centre */
    margin-right: 8px; /* Marge à droite des points */
    font-size: 38px; /* Taille de police des points */
}

.nav-text {
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
    display: flex;
    font-size: 14px; /* Taille de police plus petite */
    align-items: center; /* Centrer verticalement */
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.header > div {
    /* Styles pour l'élément <div> à gauche */
}


.header button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.connection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}



th {
    background-color: #28a745; /* Fond vert */
    color: #fff; /* Texte blanc */
    padding: 10px;
    text-align: left;
}



#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    cursor :pointer;
    margin: 100px auto;
    border: 2px solid black;
}

.send-money{
    margin: 20px;
}